.login-form,.sign-up-form{
  width: 300px;
}

.job-create-form{
  max-width:800px;
  height:1000px;
}
.body-form{
  resize: none;
  height: 550px;
}

.career-form{
  resize: none;
  height:300px
}

.profile-form{
  max-width:800px;
  height: 1150px;
}

body {
  display: flex;
  flex-flow: column; 
  min-height: 100vh; 
}
main {
  flex: 1; 
}